@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --bg: #980028;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  /* background: url(https://img3.goodfon.com/original/2560x1451/a/55/zvezdy-kosmos-tumannost.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
}
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
a {
  color: #333;
}
form {
  padding: 2rem;
  margin: 2rem 0;
}
form button,
form h5 {
  margin-top: 1rem;
}
input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

input[type='text']:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type='email']:not(.browser-default):focus:not([readonly]) + label,
input[type='password']:not(.browser-default):focus:not([readonly]) + label {
  color: #ec407a !important;
}
/*Init*/
.louvColor {
  background: #980028;
  color: #fff;
}
.louvFont {
  font-family: 'Bebas Neue', cursive;
}
.navBar ul li a {
  font-size: 1.2em;
  font-family: 'Bebas Neue', cursive;
}
.mainLoader {
  width: 100%;
  height: 100vh;
  display: flex;
}
.mainLoader div {
  margin: auto;
}

/*Header*/
.mainHeader {
  background: url(https://images.wallpaperscraft.ru/image/relef_skaly_poberezhe_175504_2560x1600.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 300px;
  color: #fff;
  display: flex;
}
.mainHeader div {
  margin: auto;
}

/*Footer*/
.footerMain {
  display: flex;
  padding: 2rem;
  color: #fff;
}
.footerContent {
  margin: auto;
}

/*Gallery*/
.louvDescription {
  padding: 1rem 2rem;
  margin: 2rem auto;
}
/* Posts section */
.posts {
  margin: 0 auto;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  padding: 1rem;
}
.postContent {
  transition: 300ms ease-in-out;
  display: flex;
}
.postContent span {
  margin: auto 0;
}
.post {
  border-bottom: 2px solid transparent;
}
.post:hover {
  border-bottom: 2px solid var(--bg);
}
.posts a:hover .postContent {
  background: var(--bg);
  color: #fff;
}
/*Post comments*/
.commentBlock {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-gap: 40px;
  padding: 1rem;
}

@media only screen and (max-width: 900px) {
  .posts {
    margin: 0 auto;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 0.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .mainHeader {
    min-height: 200px;
    background-position: center;
    background-attachment: scroll;
  }
  h1,
  h2,
  h3 {
    font-size: 2rem;
  }
}
